.footer {
    border: 5px solid red;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}